$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;
$gray: #f6f6f6;

$breakpoints-min: (
  tablet: 767px,
  desktop: 992px,
);

$breakpoints-max: (
  phone: 766px,
  tablet: 991px,
);

$cards-width: (
  phone: 20.5em,
  tablet: 30em,
);

$animation__load-course--delay: 0.5s;
$animation__load-course--duration: 0.6s;

$cards-animation-duration: 0.5s;
